@import '../../../styles/variables.scss';

.about {
  margin: 0 $spacing-lg;
  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: $spacing-lg;
  }

  &__img {
    width: 100%;
    max-width: 40rem;
    height: auto;
    margin-bottom: $spacing-lg;
  }
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: $spacing-lg;
}

@media only screen and (max-width: 975px) {
  .about {
    &__container {
      grid-template-columns: repeat(1, 1fr);
      margin: $spacing-lg $spacing-sm;
    }

    &__img {
      width: 40%;
    }
  }

  .left {
    display: flex;
    justify-content: center;
    margin: 0rem;
  }
}

@media only screen and (max-width: 800px) {
  .about {
    margin: 0 $spacing-sm;
  }
}

@media only screen and (max-width: 600px) {
  .about {
    &__img {
      width: 60%;
    }
  }
}

@media only screen and (max-width: 450px) {
  .about {
    &__img {
      width: 80%;
    }
  }
}

@media only screen and (max-width: 410px) {
  .btn {
    display: block;
    width: 100%;
    text-align: center;
  }
}
