@import '../../../styles/variables.scss';

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background-color: $color-secondary;
  color: $color-white;
  width: fit-content;
  padding: $spacing-md;
  border-radius: $border-radius-lg;

  &__background__image {
    position: absolute;
    transform: rotate(-45deg);
    bottom: -12px;
    right: -12px;
  }

  &__list {
    margin-left: $spacing-sm;
    &__item {
      &::before {
        content: '';
        display: inline-block;
        height: 20px;
        width: 20px;
        padding-right: $spacing-md;

        background-image: url(../../../public/assets/icons/paw.svg);
        background-repeat: no-repeat;
      }
    }
  }
}

.grow {
  flex: 1;
}
