@import '../../../styles/variables.scss';

.heroTitle {
  font-family: $font-heading;
  font-size: $font-size-xl;
  font-weight: $font-weight-bold;
}

.servicesTitle {
  font-family: $font-heading;
  letter-spacing: 0.5px;
  font-size: $font-size-md;
}

.servicesPrice {
  font-weight: $font-weight-bold;
  font-size: $font-size-md;
}

.sectionTitle {
  font-family: $font-heading;
  font-size: $font-size-lg;
}

.btnText {
  font-size: $font-size-sm;
  font-weight: $font-weight-bold;
}

.footerTitle {
  font-family: $font-heading;
  font-size: 2.8rem;
  letter-spacing: 0.5px;
}

.socialText {
  font-size: $font-size-xs;
}

@media only screen and (max-width: 575px) {
  .socialText {
    display: none;
    visibility: hidden;
  }
}
