@import '../../../styles/variables.scss';

.heroTitle {
  font-family: $font-heading;
  font-size: $font-size-xl;
  font-weight: $font-weight-bold;
}

.servicesTitle {
  font-family: $font-heading;
  letter-spacing: 0.5px;
  font-size: $font-size-md;
}

.servicesPrice {
  font-weight: $font-weight-bold;
  font-size: $font-size-md;
}

.sectionTitle {
  font-family: $font-heading;
  font-size: $font-size-lg;
}

.btnText {
  font-size: $font-size-sm;
  font-weight: $font-weight-bold;
}
