@import '../../../styles/variables.scss';

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: $spacing-md;
  margin: $spacing-md $spacing-lg;

  &__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__img {
    width: 75%;
    height: fit-content;
  }
}

.btnGroup {
  display: flex;
  flex-wrap: wrap;

  & > :not(:last-of-type) {
    margin-right: $spacing-md;
  }
}

@media only screen and (max-width: 1250px) {
  .hero {
    &__right {
      justify-content: center;
    }
  }
}

@media only screen and (max-width: 975px) {
  .hero {
    grid-template-columns: repeat(1, 1fr);

    &__right {
      margin-top: $spacing-xl;
    }
  }
}

@media only screen and (max-width: 800px) {
  .hero {
    margin: $spacing-md $spacing-sm;
  }
}

@media only screen and (max-width: 700px) {
  .btnGroup {
    justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  .hero {
    grid-template-columns: repeat(1, 1fr);

    &__right {
      margin-top: $spacing-lg;
    }
  }
}

@media only screen and (max-width: 410px) {
  .btnGroup {
    & > * {
      width: 100%;
      text-align: center;
    }
    & > :not(:last-of-type) {
      margin-right: 0;
      margin-bottom: $spacing-md;
    }
  }
}
