@import '../../../styles/variables.scss';

.btn {
  border: none;
  width: fit-content;
  padding: 1.5rem 3rem;
  border-radius: $border-radius-md;
  font-size: $font-size-xs;

  border: 3px solid $color-primary;
  font-weight: $font-weight-bold;
  cursor: pointer;
}

.cta {
  background-color: $color-primary;
}

.outline {
  box-sizing: border-box;
  background-color: unset;
}

.form {
  padding: 0.75rem 3rem;
  border: 3px solid $color-primary;
  border-radius: $border-radius-md;
  font-size: $font-size-xs;
  font-weight: $font-weight-bold;
  background-color: $color-primary;
  cursor: pointer;
}
