@import '../../../styles/variables.scss';

.btn {
  border: none;
  width: fit-content;
  padding: 1.5rem 4rem;
  border-radius: 1rem;
  font-size: $font-size-xs;
  border: 3px solid $color-primary;
  font-weight: $font-weight-semi-bold;
}

.cta {
  background-color: $color-primary;
}

.outline {
  box-sizing: border-box;
  background-color: unset;
  border: 3px solid $color-primary;
}
