@import '../../../styles/variables.scss';

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: $spacing-md;
  padding: $spacing-sm $spacing-lg;
  background-color: $color-secondary;
  color: $color-white;
}

.footerListContainer {
  text-align: center;
}

.footerList {
  list-style: none;
}

.footerListItem {
  font-size: $font-size-xs;
  margin-top: $spacing-xs;
  cursor: pointer;

  &:hover {
    color: $color-primary;
  }

  &:active {
    filter: brightness(0.8);
  }
}

@media only screen and (max-width: 900px) {
  .footer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 640px) {
  .footer {
    grid-template-columns: repeat(1, 1fr);
  }
}
