@import '../../../styles/variables.scss';

.section {
  margin: 0 $spacing-sm;
}

.container {
  display: flex;
  margin-left: -1px; /* gutter size offset */
  width: auto;
}
.column {
  background-clip: padding-box;

  &:not(:first-child) {
    margin-left: $spacing-xs;
  }
}

.column > img {
  background: grey;
  margin-bottom: $spacing-xs;
  border-radius: $border-radius-md;
}

.image__container {
  position: relative;
  flex: 1;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 800px) {
  .section {
    margin: 0 $spacing-sm;
  }

  .column > img {
    margin-bottom: 0;
    &:not(:last-of-type) {
      margin-bottom: $spacing-md;
    }
  }
}
