// font family
$font-heading: 'cabin';
$font-body: 'Nunito Sans';

// font size
$font-size-xl: 8.2rem;
$font-size-xl: 5.8rem;
$font-size-xl: 3.8rem;
$font-size-xl: 2.8rem;
$font-size-xl: 2rem;

// font weight
$font-weight-bold: 700;
$font-weight-semi-bold: 600;
$font-weight-regular: 400;

// spacing
$font-xs: 1rem;
$font-sm: 3rem;
$font-md: 5rem;
$font-lg: 7.5rem;
$font-xl: 10rem;

// colors
$color-black: #2b2b2b;
$color-white: #ffffff;
$color-primary: #db98ed;
$color-secondary: #3f3d56;
$color-background: #fdf5ec;
