// font family
$font-heading: 'cabin';
$font-body: 'Nunito Sans';

// font size
$font-size-xl: 8.2rem;
$font-size-lg: 5.8rem;
$font-size-md: 3.8rem;
$font-size-sm: 2.8rem;
$font-size-xs: 2rem;

// font weight
$font-weight-bold: 700;
$font-weight-semi-bold: 600;
$font-weight-regular: 400;

// spacing
$spacing-xs: 1rem;
$spacing-sm: 3rem;
$spacing-md: 5rem;
$spacing-lg: 7.5rem;
$spacing-xl: 10rem;

// colors
$color-black: #2b2b2b;
$color-white: #ffffff;
$color-primary: #d166e4;
$color-secondary: #3f3d56;
$color-background: #fdf5ec;
