// font family
$font-heading: var(--font-heading);
$font-body: var(--font-body);

// font size
$font-size-xl: 6.6rem;
$font-size-lg: 4.2rem;
$font-size-md: 3.2rem;
$font-size-sm: 2.2rem;
$font-size-xs: 1.8rem;

// font weight
$font-weight-bold: 700;
$font-weight-semi-bold: 600;
$font-weight-regular: 400;

// spacing
$spacing-xs: 1rem;
$spacing-sm: 2.5rem;
$spacing-md: 3rem;
$spacing-lg: 5rem;
$spacing-xl: 7.5rem;

// border radius
$border-radius-md: 1rem;
$border-radius-lg: 2rem;

// colors
$color-black: #2b2b2b;
$color-white: #ffffff;
$color-primary: #db98ed;
$color-secondary: #3f3d56;
$color-background: #fdf5ec;
